

.left-part {
    display: flex;
    flex: 1;
    align-items: center;
}

.right-part {
    display: flex;
    width:150px;
    align-items: center;
    justify-content: flex-end;

}
.navbar-list a.chosen,
.navbar-list a:hover {
  border-bottom: 1px solid #ffffff;
}
 